.main-container{
  background: url('https://media.istockphoto.com/id/1158435316/photo/grand-cricket-stadium-with-wooden-wickets-side-view-in-daylight.jpg?s=612x612&w=0&k=20&c=GgfcieqETF07ZioBVkz_uzWFAlN_YEehVDeIHWitDGM=');
  background-repeat: no-repeat;
  background-size: cover;
}